[submodule "comdirect_api"]
	path = comdirect_api
	url = https://github.com/zappingseb/comdirect_api
	branch = xx-paypal-csv
[submodule "kontistYNAB"]
	path = kontistYNAB
	url = https://github.com/zappingseb/kontistYNAB.git
